/* line 2, ../sass/style.scss */
html,
body {
  background: linear-gradient(to bottom, #e77e61, #eda460);
  background: -webkit-linear-gradient(to bottom, #e77e61, #eda460);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 480px) {
  /* line 2, ../sass/style.scss */
  html,
  body {
    height: 100%;
  }
}

/* line 16, ../sass/style.scss */
#peta-ugm {
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 22, ../sass/style.scss */
.title {
  color: floralwhite;
  font-size: 40px;
  font-variant-numeric: 700;
  letter-spacing: 30px;
  word-spacing: 50%;
  margin-bottom: 50px;
}
@media (max-width: 480px) {
  /* line 22, ../sass/style.scss */
  .title {
    letter-spacing: 5px;
  }
}

/* line 34, ../sass/style.scss */
#bg {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
}

/* Popover */
/* line 44, ../sass/style.scss */
.popover {
  border: none;
  padding: 0px;
  width: 200px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
@media (max-width: 480px) {
  /* line 44, ../sass/style.scss */
  .popover {
    width: 180px;
  }
}
/* line 56, ../sass/style.scss */
.popover .close {
  margin-top: 1%;
  margin-right: 4px;
}
/* line 60, ../sass/style.scss */
.popover .popover-title {
  background-color: #e16160;
  color: white;
}
/* line 65, ../sass/style.scss */
.popover .popover-content img {
  width: 100% !important;
  padding: 0 0 10px;
}
@media (max-width: 480px) {
  /* line 64, ../sass/style.scss */
  .popover .popover-content {
    height: 150px;
    overflow-y: scroll;
  }
}

/* Popover End */
/* line 79, ../sass/style.scss */
.markers {
  position: absolute;
}

/* Sektor A */
/* line 87, ../sass/style.scss */
#sektor-a .marker1 {
  top: 10%;
  left: 9.8%;
}
/* line 90, ../sass/style.scss */
#sektor-a .marker1 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 90, ../sass/style.scss */
  #sektor-a .marker1 img {
    width: 34%;
  }
}
/* line 99, ../sass/style.scss */
#sektor-a .marker2 {
  top: 22%;
  left: 9%;
}
/* line 102, ../sass/style.scss */
#sektor-a .marker2 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 102, ../sass/style.scss */
  #sektor-a .marker2 img {
    width: 17%;
  }
}
/* line 111, ../sass/style.scss */
#sektor-a .marker3 {
  top: 21%;
  left: 30%;
}
/* line 114, ../sass/style.scss */
#sektor-a .marker3 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 114, ../sass/style.scss */
  #sektor-a .marker3 img {
    width: 9%;
  }
}
/* line 123, ../sass/style.scss */
#sektor-a .marker4 {
  top: 22.8%;
  left: 35%;
}
/* line 126, ../sass/style.scss */
#sektor-a .marker4 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 126, ../sass/style.scss */
  #sektor-a .marker4 img {
    width: 11%;
  }
}
/* line 135, ../sass/style.scss */
#sektor-a .marker5 {
  top: 30%;
  left: 30.7%;
}
/* line 138, ../sass/style.scss */
#sektor-a .marker5 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 138, ../sass/style.scss */
  #sektor-a .marker5 img {
    width: 14%;
  }
}

/* Sektor A End */
/* Sektor B */
/* line 156, ../sass/style.scss */
#sektor-b .marker1 {
  top: 29%;
  left: 43.7%;
}
/* line 159, ../sass/style.scss */
#sektor-b .marker1 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 159, ../sass/style.scss */
  #sektor-b .marker1 img {
    width: 13%;
  }
}
/* line 168, ../sass/style.scss */
#sektor-b .marker2 {
  top: 28%;
  left: 53.3%;
}
/* line 171, ../sass/style.scss */
#sektor-b .marker2 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 171, ../sass/style.scss */
  #sektor-b .marker2 img {
    width: 11%;
  }
}
/* line 180, ../sass/style.scss */
#sektor-b .marker3 {
  top: 21%;
  left: 50%;
}
/* line 183, ../sass/style.scss */
#sektor-b .marker3 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 183, ../sass/style.scss */
  #sektor-b .marker3 img {
    width: 15%;
  }
}
/* line 192, ../sass/style.scss */
#sektor-b .marker4 {
  top: 21%;
  left: 57.5%;
}
/* line 195, ../sass/style.scss */
#sektor-b .marker4 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 195, ../sass/style.scss */
  #sektor-b .marker4 img {
    width: 16%;
  }
}

/* Sektor B End */
/* Sektor C */
/* line 213, ../sass/style.scss */
#sektor-c .marker1 {
  top: 18.5%;
  left: 67%;
}
/* line 216, ../sass/style.scss */
#sektor-c .marker1 img {
  width: 32%;
  cursor: pointer;
}
/* line 221, ../sass/style.scss */
#sektor-c .marker2 {
  top: 19%;
  left: 78%;
}
/* line 224, ../sass/style.scss */
#sektor-c .marker2 img {
  width: 40%;
  cursor: pointer;
}

/* Sektor C End */
/* Sektor D End */
/* line 238, ../sass/style.scss */
#sektor-d .marker1 {
  top: 43%;
  left: 17.4%;
}
/* line 241, ../sass/style.scss */
#sektor-d .marker1 img {
  width: 10%;
  cursor: pointer;
}
/* line 246, ../sass/style.scss */
#sektor-d .marker2 {
  top: 38%;
  left: 24.1%;
}
@media (max-width: 480px) {
  /* line 246, ../sass/style.scss */
  #sektor-d .marker2 {
    top: 39%;
    left: 24%;
  }
}
/* line 254, ../sass/style.scss */
#sektor-d .marker2 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 254, ../sass/style.scss */
  #sektor-d .marker2 img {
    width: 17%;
  }
}
/* line 263, ../sass/style.scss */
#sektor-d .marker3 {
  top: 38.2%;
  left: 37.5%;
}
@media (max-width: 480px) {
  /* line 263, ../sass/style.scss */
  #sektor-d .marker3 {
    top: 39.2%;
  }
}
/* line 270, ../sass/style.scss */
#sektor-d .marker3 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 270, ../sass/style.scss */
  #sektor-d .marker3 img {
    width: 12%;
  }
}
/* line 279, ../sass/style.scss */
#sektor-d .marker4 {
  top: 53%;
  left: 26.7%;
}
/* line 282, ../sass/style.scss */
#sektor-d .marker4 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 282, ../sass/style.scss */
  #sektor-d .marker4 img {
    width: 12%;
  }
}
/* line 291, ../sass/style.scss */
#sektor-d .marker5 {
  top: 47.5%;
  left: 37.7%;
}
@media (max-width: 480px) {
  /* line 291, ../sass/style.scss */
  #sektor-d .marker5 {
    top: 46.5%;
    left: 37.2%;
  }
}
/* line 299, ../sass/style.scss */
#sektor-d .marker5 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 299, ../sass/style.scss */
  #sektor-d .marker5 img {
    width: 12%;
  }
}

/* Sektor D End */
/* Sektor E */
/* line 317, ../sass/style.scss */
#sektor-e .marker1 {
  top: 36.8%;
  left: 46.6%;
}
@media (max-width: 480px) {
  /* line 317, ../sass/style.scss */
  #sektor-e .marker1 {
    top: 35.5%;
    left: 46.5%;
  }
}
/* line 325, ../sass/style.scss */
#sektor-e .marker1 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 325, ../sass/style.scss */
  #sektor-e .marker1 img {
    width: 11%;
  }
}
/* line 334, ../sass/style.scss */
#sektor-e .marker2 {
  top: 43%;
  left: 45.2%;
}
@media (max-width: 480px) {
  /* line 334, ../sass/style.scss */
  #sektor-e .marker2 {
    top: 41%;
    left: 45.2%;
  }
}
/* line 342, ../sass/style.scss */
#sektor-e .marker2 img {
  width: 13%;
  cursor: pointer;
}
/* line 347, ../sass/style.scss */
#sektor-e .marker3 {
  top: 37.3%;
  left: 53%;
}
@media (max-width: 480px) {
  /* line 347, ../sass/style.scss */
  #sektor-e .marker3 {
    top: 37%;
    left: 53%;
  }
}
/* line 355, ../sass/style.scss */
#sektor-e .marker3 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 355, ../sass/style.scss */
  #sektor-e .marker3 img {
    width: 9%;
  }
}
/* line 364, ../sass/style.scss */
#sektor-e .marker4 {
  top: 39%;
  left: 57.5%;
}
@media (max-width: 480px) {
  /* line 364, ../sass/style.scss */
  #sektor-e .marker4 {
    top: 38%;
  }
}
/* line 370, ../sass/style.scss */
#sektor-e .marker4 img {
  width: 39%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 370, ../sass/style.scss */
  #sektor-e .marker4 img {
    width: 13%;
  }
}
/* line 378, ../sass/style.scss */
#sektor-e .marker5 {
  top: 47%;
  left: 54%;
}
@media (max-width: 480px) {
  /* line 378, ../sass/style.scss */
  #sektor-e .marker5 {
    top: 45%;
  }
}
/* line 384, ../sass/style.scss */
#sektor-e .marker5 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 384, ../sass/style.scss */
  #sektor-e .marker5 img {
    width: 12%;
  }
}
/* line 392, ../sass/style.scss */
#sektor-e .marker6 {
  top: 44.5%;
  left: 58%;
}
@media (max-width: 480px) {
  /* line 392, ../sass/style.scss */
  #sektor-e .marker6 {
    top: 43%;
  }
}
/* line 398, ../sass/style.scss */
#sektor-e .marker6 img {
  width: 35%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 398, ../sass/style.scss */
  #sektor-e .marker6 img {
    width: 11%;
  }
}
/* line 406, ../sass/style.scss */
#sektor-e .marker7 {
  top: 53%;
  left: 57.2%;
}
@media (max-width: 480px) {
  /* line 406, ../sass/style.scss */
  #sektor-e .marker7 {
    top: 52%;
  }
}
/* line 412, ../sass/style.scss */
#sektor-e .marker7 img {
  width: 13%;
  cursor: pointer;
}
/* line 417, ../sass/style.scss */
#sektor-e .marker8 {
  top: 55%;
  left: 53.7%;
}
@media (max-width: 480px) {
  /* line 417, ../sass/style.scss */
  #sektor-e .marker8 {
    top: 54%;
  }
}
/* line 423, ../sass/style.scss */
#sektor-e .marker8 img {
  width: 9%;
  cursor: pointer;
}
/* line 428, ../sass/style.scss */
#sektor-e .marker9 {
  top: 60%;
  left: 60.5%;
}
/* line 431, ../sass/style.scss */
#sektor-e .marker9 img {
  width: 11%;
  cursor: pointer;
}
/* line 436, ../sass/style.scss */
#sektor-e .marker10 {
  top: 59.2%;
  left: 42.8%;
}
@media (max-width: 480px) {
  /* line 436, ../sass/style.scss */
  #sektor-e .marker10 {
    top: 58.2%;
  }
}
/* line 442, ../sass/style.scss */
#sektor-e .marker10 img {
  width: 32%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 442, ../sass/style.scss */
  #sektor-e .marker10 img {
    width: 10%;
  }
}
/* line 450, ../sass/style.scss */
#sektor-e .marker11 {
  top: 60%;
  left: 50.3%;
}
@media (max-width: 480px) {
  /* line 450, ../sass/style.scss */
  #sektor-e .marker11 {
    top: 58%;
  }
}
/* line 456, ../sass/style.scss */
#sektor-e .marker11 img {
  width: 6%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 456, ../sass/style.scss */
  #sektor-e .marker11 img {
    width: 5%;
  }
}

/* Sektor E End */
/* Sektor F */
/* Sektor F End */
/* Sektor G */
/* line 479, ../sass/style.scss */
#sektor-g .marker1 {
  top: 65%;
  left: 36.8%;
}
@media (max-width: 480px) {
  /* line 479, ../sass/style.scss */
  #sektor-g .marker1 {
    top: 63%;
  }
}
/* line 486, ../sass/style.scss */
#sektor-g .marker1 img {
  width: 6%;
  cursor: pointer;
}
/* line 491, ../sass/style.scss */
#sektor-g .marker2 {
  top: 67.9%;
  left: 34%;
}
@media (max-width: 480px) {
  /* line 491, ../sass/style.scss */
  #sektor-g .marker2 {
    top: 68.7%;
    left: 34%;
  }
}
/* line 499, ../sass/style.scss */
#sektor-g .marker2 img {
  width: 36%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 499, ../sass/style.scss */
  #sektor-g .marker2 img {
    width: 11%;
  }
}
/* line 508, ../sass/style.scss */
#sektor-g .marker3 {
  top: 87%;
  left: 25%;
}
@media (max-width: 480px) {
  /* line 508, ../sass/style.scss */
  #sektor-g .marker3 {
    top: 85%;
  }
}
/* line 515, ../sass/style.scss */
#sektor-g .marker3 img {
  width: 9%;
  cursor: pointer;
}
/* line 520, ../sass/style.scss */
#sektor-g .marker4 {
  top: 88%;
  left: 33.9%;
}
@media (max-width: 480px) {
  /* line 520, ../sass/style.scss */
  #sektor-g .marker4 {
    top: 86%;
  }
}
/* line 526, ../sass/style.scss */
#sektor-g .marker4 img {
  width: 9%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 526, ../sass/style.scss */
  #sektor-g .marker4 img {
    width: 7%;
  }
}

/* Sektor G End */
/* Sektor H */
/* line 544, ../sass/style.scss */
#sektor-h .marker1 {
  top: 68%;
  left: 43%;
}
@media (max-width: 480px) {
  /* line 544, ../sass/style.scss */
  #sektor-h .marker1 {
    top: 66%;
  }
}
/* line 550, ../sass/style.scss */
#sektor-h .marker1 img {
  width: 8%;
  cursor: pointer;
}
/* line 555, ../sass/style.scss */
#sektor-h .marker2 {
  top: 73%;
  left: 45%;
}
/* line 558, ../sass/style.scss */
#sektor-h .marker2 img {
  width: 5%;
  cursor: pointer;
}
/* line 563, ../sass/style.scss */
#sektor-h .marker3 {
  top: 74.6%;
  left: 42.5%;
}
/* line 566, ../sass/style.scss */
#sektor-h .marker3 img {
  width: 3%;
  cursor: pointer;
}
/* line 571, ../sass/style.scss */
#sektor-h .marker4 {
  top: 77%;
  left: 41.5%;
}
/* line 574, ../sass/style.scss */
#sektor-h .marker4 img {
  width: 39%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 574, ../sass/style.scss */
  #sektor-h .marker4 img {
    width: 11%;
  }
}
/* line 582, ../sass/style.scss */
#sektor-h .marker5 {
  top: 78%;
  left: 47.5%;
}
@media (max-width: 480px) {
  /* line 582, ../sass/style.scss */
  #sektor-h .marker5 {
    top: 73%;
    left: 47.2%;
  }
}
/* line 589, ../sass/style.scss */
#sektor-h .marker5 img {
  width: 7%;
  cursor: pointer;
}
/* line 594, ../sass/style.scss */
#sektor-h .marker6 {
  top: 69%;
  left: 50.2%;
}
@media (max-width: 480px) {
  /* line 594, ../sass/style.scss */
  #sektor-h .marker6 {
    top: 67%;
  }
}
/* line 600, ../sass/style.scss */
#sektor-h .marker6 img {
  width: 5%;
  cursor: pointer;
}
/* line 605, ../sass/style.scss */
#sektor-h .marker7 {
  top: 63.2%;
  left: 53.7%;
}
/* line 608, ../sass/style.scss */
#sektor-h .marker7 img {
  width: 32%;
  cursor: pointer;
}
@media (max-width: 480px) {
  /* line 608, ../sass/style.scss */
  #sektor-h .marker7 img {
    width: 13.5%;
  }
}
/* line 616, ../sass/style.scss */
#sektor-h .marker8 {
  top: 80%;
  left: 61%;
}
@media (max-width: 480px) {
  /* line 616, ../sass/style.scss */
  #sektor-h .marker8 {
    top: 78%;
  }
}
/* line 622, ../sass/style.scss */
#sektor-h .marker8 img {
  width: 9%;
  cursor: pointer;
}
/* line 627, ../sass/style.scss */
#sektor-h .marker9 {
  top: 70%;
  left: 61.7%;
}
/* line 630, ../sass/style.scss */
#sektor-h .marker9 img {
  width: 9%;
  cursor: pointer;
}

/* Sektor H End */
/* Sektor I */
/* line 644, ../sass/style.scss */
#sektor-i .marker1 {
  top: 78%;
  left: 72%;
}
@media (max-width: 480px) {
  /* line 644, ../sass/style.scss */
  #sektor-i .marker1 {
    top: 76%;
  }
}
/* line 652, ../sass/style.scss */
#sektor-i .marker1 img {
  width: 26%;
  cursor: pointer;
}

/* Sektor I End */
