
body {
    background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

body h1
{
    color: floralwhite;
    font-size: 40px;
    padding: 80px;
    font-variant-numeric: 700;
    letter-spacing: 30px;
    word-spacing: 50%;
}

.tengah
{
    align-content: center;
    text-align: center;
    left: 50%;
    right: 50%;
}
.peta #bg
{
    height: 1500px; width: 1500px;
    min-height: 1500px; 1500px;
    padding: 50px;
    
}


.gedung img{
    width: 100px; height: 100px;
    z-index: 1000px;
}